<p-table #dt [columns]="cols" [value]="manageOnline" [paginator]="true" sortField="price" [sortOrder]="-1" [rows]="10"
  (sortFunction)="tableSort($event)" [customSort]="true">
  <ng-template pTemplate="caption">

    <div class="d-block">
      <div class="d-inlline col-md-2 t-heading t-align-left">
        Products
      </div>
      <div class="d-inlline pos-left-relative-85">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input style="width:auto" type="text" pInputText size="50" placeholder="Global Filter"
          (input)="dt.filterGlobal($event.target.value, 'contains')">
      </div>

    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon *ngIf="!col.isNoSorting" [field]="col.field"></p-sortIcon>
      </th>
      <!-- <th>
        Download
      </th>
      <th>
        Delete
      </th> -->
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <p-dropdown *ngIf="!col.isInput && !col.isNotVisible" [options]="col.columnList" [style]="{'width':'100%'}"
          (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
        <input *ngIf="col.isInput && !col.isNotVisible" class="form-control" type="text"
          (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
      </th>
    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <span *ngIf="!col.isLink">{{rowData[col.field]}}</span>

      </td>

    </tr>
  </ng-template>

</p-table>