<form class="form-inline" action="/action_page.php">
  <div class="row m-l-neg-25">
    <div class="col-md-3 p-l-0 m-r-neg-30">
      <div class="col-md-12">
        <div class="form-group">
          <!-- <div class="col-md-3"> -->
          <label for="type">Type</label>
          <!-- </div> -->
          <!-- <div class="col-md-9"> -->
          <select class="form-control" id="type">
            <option>any</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <!-- </div> -->
        </div>
      </div>
      <div class="col-md-12 m-t-15">
        <div class="form-group">
          <!-- <div class="col-md-4"> -->
          <label for="company">Company</label>
          <!-- </div> -->
          <!-- <div class="col-md-8"> -->
          <select class="form-control w-155-px" id="company">
            <option>any</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 p-l-0 m-r-neg-30">
      <div class="col-md-12">
        <div class="form-group">
          <!-- <div class="col-md-4"> -->
          <label for="jobName">Job</label>
          <!-- </div> -->
          <!-- <div class="col-md-8"> -->
          <input type="text" class="form-control" id="jobName" name="jobName">
          <!-- </div> -->
        </div>
      </div>
      <div class="col-md-12  m-t-15">
        <div class="form-group">
          <!-- <div class="col-md-4"> -->
          <label for="profile">Profile</label>
          <!-- </div> -->
          <!-- <div class="col-md-8"> -->
          <select class="form-control w-155-px" id="profile">
            <option>any</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="col-md-3 p-l-0 m-r-neg-30">
      <div class="col-md-12">
        <div class="form-group">
          <!-- <div class="col-md-4"> -->
          <label for="oder">Order #</label>
          <!-- </div> -->
          <!-- <div class="col-md-8"> -->
          <input type="text" class="form-control" id="order" name="order">
          <!-- </div> -->
        </div>
      </div>
      <div class="col-md-12  m-t-15">
        <div class="form-group">
          <!-- <div class="col-md-4"> -->
          <label for="jobId">Job ID</label>
          <!-- </div> -->
          <!-- <div class="col-md-8"> -->
          <input type="text" class="form-control" id="jobId" name="jobId">
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="col-md-3 p-l-0 m-r-neg-30">
      <div class="col-md-12">
        <div class="form-group">
          <!-- <div class="col-md-4"> -->
          <label for="environment">Environment</label>
          <!-- </div> -->
          <!-- <div class="col-md-8"> -->
          <select class="form-control" id="environment">
            <option>any</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <!-- </div> -->
        </div>
      </div>
      <div class="col-md-12  m-t-15">
        <div class="form-group">
          <!-- <div class="col-md-3"> -->
          <label for="status">Satus</label>
          <!-- </div> -->
          <!-- <div class="col-md-9"> -->
          <select class="form-control " id="status">
            <option>any</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <!-- </div> -->
        </div>
      </div>

    </div>
    <div class="w-90 col-md-3 m-r-neg-30">
      <!-- <div class="col-md-offset-12">
        <button type="submit" class="btn btn-default m-l-32">Search</button>
      </div> -->
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary btn-pos">Search</button>
      </div>
    </div>

  </div>

  <div class="row m-t-15 m-l-neg-25 m-r-neg-25">
    <!-- <div class="col-md-3">

    </div> -->
    <!-- 
    <div class="col-md-3">
  
    </div> -->
    <!-- 
    <div class="col-md-3">

    </div> -->
    <!-- <div class="col-md-3">


   
    </div> -->
  </div>

</form>